button {
    padding: 0.2em;
    background: #eee;
    background-image: none;
    color: #444;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.286;
    border: 1px solid #bbb;
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 187, 187);
    border-bottom: 1px solid #aaa;
    background-image: -moz-linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
    background-image: -webkit-linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
    background-image: -o-linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
    background-image: -ms-linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
    background-image: linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
    border-radius: 0.25em;
    box-shadow: none;
}

button:hover {
    color : #900;
    box-shadow: inset 2px 2px 2px #bbb;
}

#blocked-tags {
    width: 30%;
    height: 1em;
    padding: 0.2em;
    border: 1px solid #bbb;
    border-radius: 0.25em;
}